<div style="color: #006666">
	<div class="container">
		<div class="page-header">
			<h3>Calendar</h3>
		</div>
		<div class="panel panel-default" style="background-color: rgba(0,0,0,0); border: none;">
			<div class="panel-body">
				<div class="container">
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<dt>EVERYONE WELCOME DROP-IN</dt>
						<dd>Courts 1 - 5 Saturdays 8:00am – Noon</dd>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<dt>EVERYONE WELCOME DROP-IN</dt>
						<dd>Courts 1 - 5 Tuesdays 6:00pm – 10:00pm</dd>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<dt>LADIES ONLY DROP-IN</dt>
						<dd>Courts 1 - 5 Wednesdays 8:00am – Noon</dd>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<dt>FRIDAY EVENING SOCIALS DROP-IN</dt>
						<dd>Courts 1 - 5 Fridays 6:00 – 10:00pm</dd>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
						<dt>FAMILY TIME</dt>
						<dd>Courts 2 - 5 Sundays 3:00 – 6:00pm</dd>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="google-calendar">
			<iframe src="https://calendar.google.com/calendar/embed?title=Club%20Calendar&amp;showPrint=0&amp;showTz=0&amp;height=800&amp;wkst=1&amp;bgcolor=%23ffcc33&amp;src=tsawwassentennis.club_atm2sq4ksqatg9hi4pok3968b4%40group.calendar.google.com&amp;color=%2328754E&amp;ctz=America%2FVancouver"
				style="border:solid 1px #777" width="1276" height="800" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="panel panel-default" style="background-color: rgba(0,0,0,0); border: none;">
			<dl class="dl-horizontal">
				<dt>Family Time</dt>
				<dd>Family time is intended for Adults to play with children in the family. During this time one Adult must be a paid-up
					Member.</dd>
				<dt>Juniors</dt>
				<dd>Juniors may play in non-Junior times with the understanding that their court must be relinquished if Adults are waiting.
					Likewise, Adults must relinquish any court to Juniors, other than court 5, in Juniors’ times.</dd>
				<dt>Non-Family Time</dt>
				<dd>Adults playing with Juniors in non-Family times must relinquish their court to Adults who are waiting.</dd>
			</dl>
			<p><strong>Events posted on the Calendar have priority.</strong></p>
		</div>
	</div>
</div>