<div *ngIf="IsVisible" class="modal fade show in danger" id="communicationsagreed">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Tsawwassen Tennis Club: Communications Agreed</h3>
                <button class="btn btn-warning btn-xs visible-xs-block" type="button" ng-click="Close()" style="display:inline;">Close</button>
            </div>

            <div class="modal-body">
                By joining the Tsawwassen Tennis Club I agree and consent to receiving electronic communications from the Club related to
                tennis matters, and other Club communications related to Club functions and associated Club activities.
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" (click)="hideModal()">Close</button>
            </div>
        </div>
    </div>
</div>