<div *ngIf="IsVisible" class="modal fade show in danger" id="missionandvaluesmodal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Tsawwassen Tennis Club Mission &#38; Values</h3>
                <button class="btn btn-warning btn-xs visible-xs-block" type="button" ng-click="Close()" style="display:inline;">Close</button>
            </div>

            <div class="modal-body">
                <h4>TTC Mission</h4>

                <blockquote><em>“To be the friendliest small tennis club in Metro Vancouver”</em></blockquote>

                <h4>TTC Executive Values &#38; Behaviours</h4>

                <p>The Executive exists as the Steward of the Members’ needs. It will make prudent decisions that protect the
                    finances of the club balanced with programs, activities, and facilities that the members desire.
                    <br/> The Executive will be the Champions of the club’s mission to be “The friendliest small tennis club
                    in Metro Vancouver” and will model and reinforce the member behaviours and values.</p>
                <h4>Member Values &#38; Behaviours</h4>
                <p>Members will behave in a way that maintains the club’s mission of being the friendliest small tennis club
                    in Vancouver. Members will:</p>
                <ul>
                    <li>Welcome non-members who are investigating the club. Ask if they need any information or advice.</li>
                    <li>Respect the court allocations times for certain pre-organized events such as league and drop-in and make
                        way to those players on the assigned courts.</li>
                    <li>Accept that members are at different levels of tennis abilities. Treat all other members with respect
                        regardless of their tennis ability, recognizing that no one intentionally tries to make errors.</li>
                    <li>Recognize that the club cannot exist without the work of Volunteers, so take your turn accepting duties/responsibilities
                        from time to time.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" (click)="hideModal()">Close</button>
            </div>
        </div>
    </div>
</div>
