<div *ngIf="IsVisible" class="modal fade show in danger" id="liabilityagreement">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Tsawwassen Tennis Club: Release of Liability, Waiver, &#38; Claims</h3>
                <button class="btn btn-warning btn-xs visible-xs-block" type="button" ng-click="Close()" style="display:inline;">Close</button>
            </div>
            <div class="modal-body">
                I am aware that playing tennis involves risks, dangers and hazards including but not limited to: changing weather conditions,
                slippery courts, structure on and near the courts, equipment failure, slips and falls, over-exertion, impact
                or collision with other participants, negligence of other participants, and negligence on the part of the
                Tsawwassen Tennis Club and/or its executive. I freely and fully accept and fully assume all such risks, dangers
                and hazards and the possibility of personal injury, death, property damage and loss resulting therefrom.
                RELEASE OF LIABILITY, WAIVER OF CLAIMS AND INDEMNITY AGREEMENT. By agreeing to the below, and in consideration
                of my having use of the Club facilities, and for other good and valuable consideration, the receipt and sufficiency
                of which is acknowledged, I hereby agree to waive any and all claims that I have or may in the future have
                against the Tsawwassen Tennis Club and/or its Directors and to release them from any and all liability for
                any loss, damage, expense or injury that I may suffer as a result of my use and enjoyment of any services
                or facilities provided by the Tsawwassen Tennis Club and/or participation in tennis activities at or in conjunction
                with the Tsawwassen Tennis Club, due to any cause whatsoever.
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" (click)="hideModal()">Close</button>
            </div>
        </div>
    </div>
</div>