<message-modal (onClosed)="messageModalClosed($event)">
</message-modal>
<div *ngIf="IsVisible" class="modal fade show in danger" id="changepasswordmodal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Change Password</h2>
            </div>
            <div class="modal-body">
                <form [formGroup]="ChangePasswordForm" novalidate>
                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword" #currentPassword="ngForm" [formControl]="ChangePasswordForm.controls['currentPassword']"
                            [(ngModel)]="changepassword.currentPassword">
                        <div *ngIf="currentPassword.control.hasError( 'invalidPassword') && !currentPassword.control.pristine" class="alert alert-danger">
                            A password must have between 8 and 16 characters.
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="newpassword">New Password</label>
                        <input type="password" class="form-control" id="newpassword" #newpassword="ngForm" [formControl]="ChangePasswordForm.controls['newpassword']"
                            [(ngModel)]="changepassword.first">
                        <div *ngIf="newpassword.control.hasError( 'invalidPassword') && !newpassword.control.pristine" class="alert alert-danger">
                            A password must have between 8 and 16 characters.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmpassword">Confirm New Password</label>
                        <input type="password" class="form-control" id="confirmpassword" #confirmpassword="ngForm" [formControl]="ChangePasswordForm.controls['confirmpassword']"
                            [(ngModel)]="changepassword.second">
                        <div *ngIf="confirmpassword.control.hasError( 'invalidPassword') && !confirmpassword.control.pristine" class="alert alert-danger">
                            A password must have between 8 and 16 characters.
                        </div>
                        <div *ngIf="changepassword.first != changepassword.second && !confirmpassword.control.pristine" class="alert alert-danger">
                            The Confirm Password does not match.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" [disabled]="
							ChangePasswordForm.pristine || 
                    		!ChangePasswordForm.valid" (click)="ChangePassword()">
                    Save New Password
                </button>
                <button type="button" class="btn btn-warning" (click)="hideForm()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>