<message-modal (onClosed)="messageModalClosed($event)"></message-modal>
<div class="container">
	<form [formGroup]="ResetPasswordForm" novalidate>
		<div class="col-xs-12 col-sm-7">
			<div class="form-group">
				<label for="newpassword">New Password</label>
				<input type="password" class="form-control" id="newpassword" #newpassword="ngForm" [formControl]="ResetPasswordForm.controls['newpassword']"
					[(ngModel)]="changepassword.first">
				<div *ngIf="newpassword.control.hasError( 'invalidPassword') && !newpassword.control.pristine" class="alert alert-danger">
					A password must have between 8 and 16 characters.
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-7">
			<div class="form-group">
				<label for="confirmpassword">Confirm New Password</label>
				<input type="password" class="form-control" id="confirmpassword" #confirmpassword="ngForm" [formControl]="ResetPasswordForm.controls['confirmpassword']"
					[(ngModel)]="changepassword.second">
				<div *ngIf="confirmpassword.control.hasError( 'invalidPassword') && !confirmpassword.control.pristine" class="alert alert-danger">
					A password must have between 8 and 16 characters.
				</div>
				<div *ngIf="changepassword.first != changepassword.second && !confirmpassword.control.pristine" class="alert alert-danger">
					The Confirm Password does not match.
				</div>
			</div>
		</div>
		<div class="g-recaptcha" data-sitekey="6LfZ6gcUAAAAACmX80oo5s_DjKzGFN97j2mSeEoe"></div>
		<hr>
		<div class="col-xs-12 col-sm-7">
			<div>
				<button type="submit" class="btn btn-primary" [disabled]="
							ResetPasswordForm.pristine || 
                    		!ResetPasswordForm.valid ||
							!firstName ||
							!emailAddress" (click)="resetPassword()">
                    Save New Password
            </button>
			</div>
		</div>
	</form>
</div>