.jumbotron {
padding: 20px;
margin-bottom: 20px;
color: inherit;
background-image:       url('/assets/images/background_image.jpg');
background-position:    center;
}

.jumbotron h1,
.jumbotron .h1  {
color: #ffffff;
}

.jumbotron h2,
.jumbotron .h2  {
color: #ffffff;
}

.jumbotron h3,
.jumbotron .h3  {
color: #ffffff;
}

.jumbotron h4,
.jumbotron .h4  {
color: #ffffff;
}

.jumbotron p {
margin-bottom:  15px;
font-size:      20px;
font-weight:    normal;
color:          #ffffff;
}

/* Large desktops and laptops */
@media all and (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media all and (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media all and (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media all and (max-width: 767px) {
        #nightballs {
                display:none;
        }
}

/* Portrait phones and smaller */
@media all and (max-width: 480px) {
        #nightballs {
                display:none;
        }
}

@media all and (max-width: 700px)
{
    .jumbotron-page
    {
        height: 50px;
    }
}

iframe, object, embed{max-width: 100%;}

/* START OF Change the Navbar Colors/Font/Size */
/* Adjust Menu (red) text color, (1.5em) font-size  */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a {
color:          red;
font-size:      1.25em;
}

/* Adjust Menu colors - Normal */
.navbar .nav > li > a, .navbar .nav > li > a:first-letter {
color:          lightgrey;
text-shadow:    none;
}
/* Adjust Menu colors - Hover */
.navbar .nav > li > a:hover, .navbar .nav > li > a:hover:first-letter {
color:          red;
text-shadow:    none;
}
/* Adjust Menu colors - Active */
.navbar .nav > li > a:active, .navbar .nav > li > a:active:first-letter,
.navbar .nav > li.current-menu-item > a,
.navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li.current-menu-item > a:first-letter,
.navbar .nav > li.current-menu-ancestor > a:first-letter {
text-shadow:    none;
}

/* Adjust dropdown Menu items (blue) text color, (yellow) shading and (green) border */
.dropdown-menu > li > a {
color:          white;
background:     black;
border-bottom:  1px solid black;
}

/* Remove the Hover/Focus Colors  */
.navbar .nav > li.current-menu-item > a, .navbar .nav > li.current-menu-ancestor > a,
.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
color:          #5A5A5A;
}
/* END OF Change the Navbar Colors/Font/Size */

/* Modal CSS */
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

/* For form messages */
.ng-invalid {
    border-color: red;
    outline-color: red;
}

.ng-valid {
    border-color: green;
    outline-color: green;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}

.dropdown-menu > .disabled{
 cursor: not-allowed; 
}

/* The real magic ;) */
.dropdown-menu > .disabled > a{
 pointer-events: none;
}

//***   Styling for Online Booking   ***

/* checkbox - each time slot */
.time-slot               {  }

/* hide the checkbox itself - the label will be styled */
.time-slot input     { 
  display:none; 
}

/* default styling for our labels */
.time-slot label     { 
  padding:10px 20px; 
  color:#FFF; 
  cursor:pointer; 
  background:#EEE; 
  border-radius:5px; 
  transition:0.3s ease all;
}

/* if the label is checked */
.time-slot input:checked ~ label { 
  background:#f2dede; 
  cursor:not-allowed;
  animation:flashBooked 0.5s ease; 
}

/* if the label is not checked */
.time-slot input:not(:checked) ~ label { 
  background:#6AB074; 
  animation:flashAvailable 0.5s ease; 
}

/* animation for the time slot to flash red */
@keyframes flashBooked {
  0%, 100%  { background:#f2dede; transform:scale(1); }
  50%       { background:#F99090; transform:scale(1.5); }
}

/* animation for the time slot to flash green */
@keyframes flashAvailable {
  0%, 100%  { background:#6AB074; transform:scale(1); }
  50%       { background:rgb(119, 218, 78); transform:scale(1.5); }
}