<div class="container" style="color:#006666;">
    <div class="page-header">
        <h3>About Us</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h4>Booking Board</h4> The Sign-up Board beside the clubhouse door strictly controls court use. Chalk is available
            beneath the Board and in the clubhouse under the phone. If players want to ensure they get court time, they MUST
            enter their names and their start times on this Board. A minimum of 2 players must be present for the sign-up.
            Proper use of the Booking Board ensures that everyone gets their share of playing times when the courts are busy.
            When previous players&#39; court time is up, write the current time on the Board, and then wait outside your
            selected court for completion of their last point. A court may be re-booked immediately only if others are not
            waiting. Maximum playing times when others are waiting: 45 minutes for singles, and 60 minutes for doubles. PLAYERS
            NOT SIGNING UP ON THE BOARD RISK BEING 'BUMPED' FROM PLAY WHEN THE COURTS ARE BUSY.
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h4>Fee Structure</h4>
            <ul>
                <li>Singles: $247 person</li>
                <li>Single + 1 Junior: $300</li>
                <li>Single + 2 Juniors: $350</li>
                <li>Couple: $389</li>
                <li>Family: $450</li>
                <li>Student: $105 (full-time post-secondary)</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h4>Fee Payment</h4> Fees can be paid either by cheque or by eTransfer.
            <ul>
                <li>Cheque: Send your cheque to arrive before April 1st to "Tsawwassen Tennis Club, PO Box 18045, 1215 C 56 St,
                    Delta, BC V4L 2M4"</li>
                <li>eTransfer: Send the eTransfer to ttc2014.treasurer@gmail.com using a password of your choice (but don't forget
                    to send an email to this same email address to let the Treasurer know what password you used in the eTransfer).</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h4>Risk</h4> Use of the Club facilities by the Membership, their families and guests is done so at their own risk.
            Persons playing on these courts must recognise the inherent risks they are taking. Any accident involving personal
            injury or any incident involving personal loss, however caused, will not be the responsibility of the Tsawwassen
            Tennis Club, its Executive Committee or its Members. Members are reminded to lock automobiles and secure personal
            effects such as wallets and purses while on court.
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h4>Guests</h4> Guests are permitted 3 playing visits. Please sign your guest(s) in - there is a blue binder labeled
            'Guest Book' on the table beside the sliding door. Once a guest has played 3 times then that guest should be
            invited to join the Club as he / she has used up maximum guest privileges.
        </div>
        <div class="clearfix visible-lg-block"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h4>Club Rules</h4>
            <ul>
                <li>Proper tennis attire is required. Whites are not mandatory but non-marking tennis shoes ARE mandatory.</li>
                <li>Courts are restricted to TTC Members, their guests, and sanctioned League play only.</li>
                <li>Keys are for Adults only. Juniors are permitted to hold keys only at the discretion of the Executive.</li>
                <li>Please respect our neighbours&#39; privacy! All balls going over the fence into their backyards must be considered
                    lost. Members are not permitted to climb any fence or to enter any yard to retrieve balls.</li>
                <li>Damage to windscreens, nets, clubhouse, shed or other TTC property should be reported to any Executive Committee
                    member, whose names are on the 'Contact Us' page of this website.</li>
                <li>The last Member to leave the courts is responsible for ensuring that the court gates, clubhouse, and shed
                    doors are securely locked, all equipment [e.g. brooms, chairs etc.] is stored inside the clubhouse or
                    shed, and all the court (see below) and clubhouse lights are turned off.</li>
                <li>Please be sure to check and lock the gate, clubhouse and shed door because vandalism can cause enormous expense
                    to the Club.</li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <h4>Lights</h4>
            <p>
                Any Adult Member may turn on court lights. Switches are located above the phone in the clubhouse. There are 2 green buttons
                for each court. The last Member to leave the courts is responsible for turning off the court lights by pressing
                the single red button. The Lights turn off automatically at 10:00 pm. No lights are permitted after this
                time. Again, please respect our neighbours.
            </p>
            <div id=nightballs>
                <br>
                <img src="/assets/images/TennisBallsAtNight.jpg" style="width:304px;height:228px;" class="img-circle" class="img-responsive"
                    alt="Responsive image">
            </div>
        </div>
        <div class="clearfix visible-lg-block"></div>
    </div>
</div>